.sm-banner-container {
  height: 3.125rem;
  border-radius: 0px;
  color: white;
  font-size: 18px;
  background: linear-gradient(
    165deg,
    rgba(31, 4, 24, 1) 8%,
    rgba(32, 15, 128, 1) 45%,
    rgba(177, 36, 36, 1) 94%
  );

  display: flex;
  align-items: center;
  padding-left: 32px;
}
