.logo-link {
  color: white;
  text-decoration: none;
}

.header-container {
  // background: rgb(248, 240, 240) !important;
}

header.MuiPaper-root {
  z-index: 1;
  position: fixed;
  background: white;
}
