// .MuiDataGrid-menuIcon {
//   display: none;
// }
.common-table-container {
  .common-table-pagination {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 1.5rem;
  }
}
